<div id="<%= dom_id customer %>">
 

</div>
<div class="jumbotron">
  <h1 class="display-4"><%= customer.name %></h1> 
  <p class="lead"><strong>email: </strong> <%= customer.email %></p>
  <hr class="lead">
  <p class="lead"> <strong>Phone no: </strong>  <%= customer.phone  %></p>
  <p class="lead"> <strong>DOB:</strong>  <%= customer.DOB  %>   </p>
  <p class="lead">   <strong> Address: </strong> <%= customer.address  %> </p>
  <p class="lead"><strong> Vehicle Type: </strong> <%= customer.vehicle_type  %>   </p>
  <p class="lead"><strong> Vehicle Number: </strong> <%= customer.vehicle_number  %>   </p>
</div>