
<% name = current_user.present? ? current_user.username : 'user' %>

<h1>Welcome <%= name %></h1>  
<%# <h1>Welcome <%= name %>



<style>
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: #FFFDD0;
  padding: 10px;
  flex: 50%;
}
  #main {
  width:  100%;
  height: 400px;
  
  display: flex;
  flex-direction: row;
  text-align:center;
  color: white
}

#main div {
  width: 50px;
  height: 50px;
}



</style>

<body>



<div class="flex-container">
  <div class="flex-item-left"><img src="https://www.confused.com/-/media/confused/articles/on-the-road/maintenance/a-car-getting-a-service-article.jpg?la=en-gb&hash=9F8A812529431971AFC246D361050FBA016581C6" alt="service" class="img-thumbnail">
</div>
  <div class="flex-item-right">Book a Service



  </div>
</div>

<br>

<div id="main">
  <div style="background-color:coral; flex :20% " >  <%= link_to "Washing", "products/1" %>   </div>
  <div style="background-color:lightgrey;flex :20%"> <%= link_to "Oil Change", "products/4" %> </div>
  <div style="background-color:coral; flex :20%"> <%= link_to "Brake Check", "products/5" %> </div>
  <div style="background-color:lightgrey;flex :20%"> <%= link_to "Gear Check", "products/6" %> </div>
  <div style="background-color:coral; flex :20%"><%= link_to "Replace the spark plugs","products/7" %> </div>
  
</div>

<%= link_to "More Services","products" %>
<br>
</body>
  <%# <%= @users.email %>
  <%# <%= @users.usertype %> 
  <%# <%= @users.admin %> 
<%# <%= current_user.username %> 


