<%= form_with(model: service_history) do |form| %>
  <% if service_history.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(service_history.errors.count, "error") %> prohibited this service_history from being saved:</h2>

      <ul>
        <% service_history.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  
  <div>
  <%  if current_user && current_user.admin  %>
    <%= form.label :customer_id, style: "display: block" %>
    <%# <%= form.hidden_field :customer_id , value: current_user.id %>
    <%= form.text_field :customer_id %>

      <% elsif current_user && !current_user.admin %>
      
    <%# <%= @users.customers.ids %> 
     <%# <% current_user.customers.each do |i|%>
      <%# <% mk= i.name %>
      <%# <% end %> 
      <%= form.hidden_field :customer_id , value: @users.customers.ids %>
  <% end %>
  </div>
  
 
   
    <%# <%= current_user.id %> 

  <div>
    <%# <%= form.label :product_id, style: "display: block" %> 
    <%= form.hidden_field :product_id, value:1 %>
       
  </div>
 

 
   <div>
     <%# <% cartttss= @cart.id %>
       <%# <%= cartttss  %> 
    <%= form.label :cart_id, style: "display: block" %>
    
    <%  if current_user && current_user.admin %>
    <%# <%= form.text_field :cart_id %> %>
    <%= form.hidden_field :cart_id , value: @cart.id%>

      <% elsif current_user && !current_user.admin %>
      <%# <%= @cart.id %> 
      <%= form.hidden_field :cart_id , value: @cart.id%>


    <% end %>
  
  </div>
   

  <div>
    <%= form.label :startdate, style: "display: block" %>
    <%= form.date_field :startdate %>
  </div>

  <div>
    <%= form.label :enddate, style: "display: block" %>
    <%= form.date_field :enddate %>
  </div>

  <div>
  
    <%= form.label :status, style: "display: block" %>

    <%  if current_user && current_user.admin %>
    <%= form.text_field :status %>
    
    <% else %>
    <%= form.hidden_field :status, value: "confirmed" %>
    
   
    <% end %>
  </div>


  

  <div>
    <%= form.label :amount_paid, style: "display: block" %>
    <%= form.text_field :amount_paid %> 
    <%# <%= form.hidden_field :cart_total , value: @cart.total%> <=
    <%= @cart.total %>

  </div>

  <%# <div>
    <%= form.label :amount_due, style: "display: block" %>
    <%# <%= form.hidden_field :amount_due %>
  <%# </div> %> 

   <div>
    <%= form.label :total, style: "display: block" %>
    <%= form.hidden_field  :total, value: @cart.total %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
