<div id="<%= dom_id service_history %>">
  <p>
    <strong>Customer:</strong>
    <%= service_history.customer_id %>
    
  </p>

  <p>
    <strong>Product:</strong>
    <%= service_history.product_id %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= service_history.startdate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= service_history.enddate %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= service_history.status %>
  </p>

  <p>
    <strong>Amount paid:</strong>
    <%= service_history.amount_paid %>
  </p>

  <p>
    <strong>Amount due:</strong>
     <%# <%= @service_history.amount_paid - @service_history.product.price %> %>
   
  </p> 


  <%# <%= @service_history.product.price %> %>

</div>
