<p style="color: green"><%= notice %></p>
 <%# <br>
 <%= @service_histories.first.status %>
<% current_user.customers.each do |i|%>
<%= i.name %>
<% end %>
<br>


<%= @current_user.customers.ids %>



<h1>Service histories</h1>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th> customer Name</th>
  
    <th>Service</th>
    <th>Start Date</th>
    <th>End Date </th>
    <th>status</th>
    <th>Product Price</th>
    <th>Amount Paid</th>
    <th>Amount Due</th>

    <th>details</th>
  
    </tr>
    </thead>

<tbody>


<%  if current_user && current_user.admin %>
  <% @service_histories.each do |service_history| %>
    <tr>
     <td><%= service_history.customer.name %></td>

      <td><%= service_history.product.name %></td>

      <td><%= service_history.startdate %></td>
      <td><%= service_history.enddate %></td>

      <td><%= service_history.status %></td>
      <td><%= service_history.product.price %></td>

      <td><%= service_history.amount_paid %></td>
      
      
      <td><%= service_history.product.price-service_history.amount_paid  %></td>
      <td><%= link_to "Show this service history", service_history %></td>
    </tr>
      <% end %>

  <%  elsif current_user   && !current_user.admin %>
  <h1> My Orders</h1>
 
     <% @service_histories.each do |service_history| %>
        <%# <%if service_history.customer.name != @users.username  %> 
       
      <tr>
      <%# <% if service_history.customer.name ==@users.username  %> %>
      <td><%= service_history.customer.name %></td>
      <td><%= service_history.product_id %></td>

      <td><%= service_history.startdate %></td>
      <td><%= service_history.enddate %></td>

      <td><%= service_history.status %></td>
      <td><%= service_history.product.price %></td>

      <td><%= service_history.amount_paid %></td>
      
      
      <td><%= service_history.product.price-service_history.amount_paid  %></td>
      <td><%= link_to "Show this service history", service_history %></td>
      <% end %>
      <%# <% end %> %>
       <% end %>

    </tr>


  </tbody>
  
</table>



    
  
</div>

<%= link_to "New service history", new_service_history_path %>

<p>Total: <%= @cart.total %></p>



  <%# <% @customers.each do |customer| %>
  <%# <tr>
    <td><%= customer.name %>

      <%# <%= current_user.id %> 
  <%# <%= @service_histories.customer.id %> 

 

   <%# <p>
    #   <%= link_to "Show this customer", customer %>
     <%# </p>
pe

 <%# current_user.id %>
 <% current_user.customers.name%>


 <table class="table table-sm table-light; text-align:center">
 <thead>
    <tr class="table-primary">
      <th scope="col">Service Name</th>
      <th scope="col">Service Quantity </th>
      <th scope="col">Service Price</th>
    </tr>
  </thead>  

  <tbody>
   <tr>
   <% @orderables.each do |orderable| %>
   
   <%# <% if @orderables.cart_id == @service_histories.cart_id %> %>
   <% orderable.id %>
   <% orderable.product_id %>
   <%# <% end %>  %>

<% end %> 
        </tr>
        <tbody>
        </table >
<%# <%=  @service_histories.cart_ids  %> %>
      