<p style="color: green"><%= notice %></p>

<%= render @service_history %>

<div>
  <%= link_to "Edit this service history", edit_service_history_path(@service_history) ,class:"btn btn-secondary"%> |
  <%= link_to "Destroy this service history", @service_history, method: :delete ,class:"btn btn-danger"%>
  <br>
  <br>
  <br>
  <%= link_to "Back to service histories", service_histories_path ,class:"btn btn-primary"%>

  
</div>
<br>
<%= link_to "Invoice", service_history_path(@service_history ,format:"pdf") ,class:"btn btn-primary"%>

  
     

   
 