
<div id="<%= dom_id product %>">
  


<div class="jumbotron">
  <h1 class="display-4"><%= product.name %></h1> 
  <p class="lead"><%= product.description %></p>
  <hr class="my-4">
  <p>Price: <%= product.price %></p>
  <p class="lead">
  <%= form_with(url: cart_add_path) do |f| %>
      <%= f.hidden_field :id, value: product.id %>
      <%= f.number_field :quantity, value: 0, min: 1 %>
      <%= f.submit "Add To Cart",class:"btn btn-info" %>
    <% end %>
    
  </p>
</div>