<p style="color: green"><%= notice %></p>

<h1>Products</h1>



  <table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
    <th>Service ID</th>
    <th>Service name</th>
    <th>Descrption</th>
    <th>price </th>
    <th>About the service</th>
    <th colspan='3'></th>
    </tr>
    </thead>

<tbody>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.name %></td>

      <td><%= product.description %></td>
      <td><%= product.price %></td>

      <td><%= link_to "More Details", product %></td>
      <td>
      <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


 <%  if current_user && current_user.admin %>
<%= link_to " Add New Product", new_product_path, class:"btn btn-success" %>
<% end  %>

  


<h1>orderables</h1>



  <table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
    <th>Order  ID</th>
    <th>Product id</th>
    <th>cart id</th>
    <th>quantity </th>
   
    
    </tr>
    </thead>

<tbody>

  <% @orderables.each do |orderable| %>
   <%# <% if @service_histories.customer_id !='1' %> %>
 
    <tr>
      <td><%= orderable.id %></td>
      <td><%= orderable.product_id %></td>

      <td><%= orderable.cart_id %></td>
      <td><%= orderable.quantity %></td>

      
      </tr>
  

<% end %>
<tbody>
</table>









