 <%# <%= render partial: "cart/cart" if @render_cart %> 

<% if @cart.orderables.count > 0 %>
    <%# <%= render "cart/orderables" %> 
    <p>Total:<b> <%= @cart.total %></p></b>
    <%= link_to "go to cart" ,@cart ,class:"btn btn-success"%>
    <% end %>
<p style="color: green"><%= notice %></p>


<%# <%= link_to "Login",type: "image",src: url_for("/assets/12.png") %> 




<style>
#main {
  width: auto;
  height: auto;
  /* border: 1px solid black; */
  display: flex;
  padding-left: 20px
}

#main div {
  -ms-flex: 1;  /* IE 10 */  
  flex: 1;
}
</style>


 

 <%  if current_user && !current_user.admin  %>
  <% @customers.each do |customer| %>
    <tr>
     <td><% customer.vehicle_type == "car" %></td>
     
      <br>
      



<h1> Car </h1>
<div id="main">
<div style="background-color:white;">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://media.istockphoto.com/photos/the-washing-process-on-a-self-service-car-wash-picture-id1310978724?b=1&k=20&m=1310978724&s=170667a&w=0&h=L7BGClepzbsQnmQywVAh2RZ_NWtU_V21n42rI--_8GI=" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @products.first.name %></h5>
    <p class="card-text">Price:  <%= @products.first.price %></p>
    <p class="card-text"><%= @products.first.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: @products.first.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", @products.first %>
    
  </div>
</div>
</div>


 <div style="background-color:white;">
<div class="card" style="width: 18rem;">
  <div > <%=image_tag "13.jpeg" ,class:"card-img-top img-fluid" %></div> 
  
  <div class="card-body">
    <h5 class="card-title"><%= @products.third.name %></h5>
    
    <p class="card-text">Price:  <%= @products.third.price %></p>
    <p class="card-text"><%= @products.third.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: @products.third.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", @products.third %>
    
  </div>
</div>
</div>

 <div style="background-color:white;">
<div class="card" style="width: 18rem;">
  <div > <%=image_tag "14.jpeg" ,class:"card-img-top img-fluid" %></div> 
  <div class="card-body">
    <h5 class="card-title"><%= @products.fourth.name %></h5>
    <p class="card-text">Price:  <%= @products.fourth.price %></p>
    <p class="card-text"><%= @products.fourth.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: @products.fourth.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", @products.fourth %>
    
  </div>
</div>
</div>


<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div > <%=image_tag "15.jpeg" ,class:"card-img-top img-fluid" %></div> 
 <div class="card-body">
    <h5 class="card-title"><%= @products.fifth.name %></h5>
    <p class="card-text">Price:  <%= @products.fifth.price %></p>
    <p class="card-text"><%= @products.fifth.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: @products.fifth.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", @products.fifth %>
    
  </div>
</div>
</div>

</div>


<br>
<% end %>

   

<%# #------------------------------------------------Bike----------------------------------------- %>
<%  elsif current_user && !current_user.admin  %>
  <% @customers.each do |customer| %>
    <tr>
     <td><% customer.vehicle_type == "bike" %></td>
     
      <br>
<h1> Bikes </h1>
<div id="main">
<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div> <%=image_tag "1.jpeg" ,class:"card-img-top img-fluid" %></div> 
   <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 7 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", product %>
     <% end %>
      <% end %>
  </div>
</div>
</div>


<div style="background-color:white;">
<div class="card" style="width: 18rem;">
  <div > <%=image_tag "2.jpeg" ,class:"card-img-top img-fluid" %></div> 
   <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 8 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", product %>
     <% end %>
      <% end %>
  </div>
</div>
</div>

<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div > <%=image_tag "3.jpeg" ,class:"card-img-top img-fluid" %></div> 
  <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 9 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", product %>
     <% end %>
      <% end %>
  </div>
</div>
</div>


<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div > <%=image_tag "4.jpeg" ,class:"card-img-top img-fluid" %></div> 
 <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 10 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", product %>
     <% end %>
      <% end %>
  </div>
</div>
</div>
</div>


<br>
<% end %>

<%# #------------------------------------------------Bus----------------------------------------- %>


<%  elsif current_user && !current_user.admin  %>
  <% @customers.each do |customer| %>
    <tr>
     <td><% customer.vehicle_type == "bus" %></td>
     
      <br>
<h1> Bus </h1>
<div id="main">
<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div > <%=image_tag "16.jpeg" ,class:"card-img-top img-fluid" %></div> 
   <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 11 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", product %>
     <% end %>
      <% end %>
  </div>
</div>
</div>


<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div > <%=image_tag "15.jpeg" ,class:"card-img-top img-fluid" %></div> 
  <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 12 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", product %>
     <% end %>
      <% end %>
  </div>
</div>
</div>



<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div > <%=image_tag "14.jpeg" ,class:"card-img-top img-fluid" %></div> 
   <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 5 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", product %>
     <% end %>
      <% end %>
  </div>
</div>
</div>
</div>
<% end %>
<% end %>


<%# #----------------------------------------------Admin---------------------------------------- %>
<%# #----------------------------------------------Admin---------------------------------------- %>
<%# #----------------------------------------------Admin---------------------------------------- %>
<%# #----------------------------------------------Admin---------------------------------------- %>








<%  if current_user && current_user.admin  %>

<h1> Car </h1>
<div id="main">
<div style="background-color:white;">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://media.istockphoto.com/photos/the-washing-process-on-a-self-service-car-wash-picture-id1310978724?b=1&k=20&m=1310978724&s=170667a&w=0&h=L7BGClepzbsQnmQywVAh2RZ_NWtU_V21n42rI--_8GI=" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @products.first.name %></h5>
    <p class="card-text">Price:  <%= @products.first.price %></p>
    <p class="card-text"><%= @products.first.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: @products.first.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", @products.first %>
    
  </div>
</div>
</div>


 <div style="background-color:white;">
<div class="card" style="width: 18rem;">
  <div > <%=image_tag "13.jpeg" ,class:"card-img-top img-fluid" %></div> 
  
  <div class="card-body">
    <h5 class="card-title"><%= @products.third.name %></h5>
    
    <p class="card-text">Price:  <%= @products.third.price %></p>
    <p class="card-text"><%= @products.third.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: @products.third.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", @products.third %>
    
  </div>
</div>
</div>

 <div style="background-color:white;">
<div class="card" style="width: 18rem;">
  <div > <%=image_tag "14.jpeg" ,class:"card-img-top img-fluid" %></div> 
  <div class="card-body">
    <h5 class="card-title"><%= @products.fourth.name %></h5>
    <p class="card-text">Price:  <%= @products.fourth.price %></p>
    <p class="card-text"><%= @products.fourth.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: @products.fourth.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", @products.fourth %>
    
  </div>
</div>
</div>


<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div > <%=image_tag "15.jpeg" ,class:"card-img-top img-fluid" %></div> 
 <div class="card-body">
    <h5 class="card-title"><%= @products.fifth.name %></h5>
    <p class="card-text">Price:  <%= @products.fifth.price %></p>
    <p class="card-text"><%= @products.fifth.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: @products.fifth.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", @products.fifth %>
    
  </div>
</div>
</div>

</div>


<br>


   

<%# #------------------------------------------------Bike----------------------------------------- %>

<h1> Bikes </h1>
<div id="main">
<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div> <%=image_tag "1.jpeg" ,class:"card-img-top img-fluid" %></div> 
   <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 7 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", product %>
    <% end %>
    <% end %>
  </div>
</div>
</div>


<div style="background-color:white;">
<div class="card" style="width: 18rem;">
  <div > <%=image_tag "2.jpeg" ,class:"card-img-top img-fluid" %></div> 
   <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 8 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", product %>
     <% end %>
     <% end %>
  </div>
</div>
</div>

<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div > <%=image_tag "3.jpeg" ,class:"card-img-top img-fluid" %></div> 
  <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 9 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", product %>
    <% end %>
    <% end %>
  </div>
</div>
</div>


<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div > <%=image_tag "4.jpeg" ,class:"card-img-top img-fluid" %></div> 
 <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 10 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", product %>
     <% end %>
     <% end %>
      
  </div>
</div>
</div>
</div>


<br>


<%# #------------------------------------------------Bus----------------------------------------- %>



<h1> Bus </h1>
<div id="main">
<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div > <%=image_tag "16.jpeg" ,class:"card-img-top img-fluid" %></div> 
   <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 11 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", product %>
     <% end %>
     <% end %>
      
  </div>
</div>
</div>


<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div > <%=image_tag "15.jpeg" ,class:"card-img-top img-fluid" %></div> 
  <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 12 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
      
     <%= link_to "More Details", product %>
     <% end %>
     <% end %>
   
  </div>
</div>
</div>



<div style="background-color:white;">
<div class="card" style="width: 18rem;">
<div > <%=image_tag "14.jpeg" ,class:"card-img-top img-fluid" %></div> 
   <div class="card-body">
    <% @products.each do |product| %>
    <% if product.id == 5 %>
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price:  <%= product.price %></p>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" ,class:"btn btn-info"%>
      <% end %>
     <%= link_to "More Details", product %>
     <% end %>
     <% end %>
    
  </div>
</div>
</div>
</div>
<% end %>




<%# #------------------------------------------------Bus----------------------------------------- %>






 <%  if current_user && current_user.admin %>
<%= link_to " Add New Product", new_product_path, class:"btn btn-success" %>
<% end  %>

  












